*{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;
}

.container{
    position: fixed;
    width: 100%;
    height: 100vh;
}

.container .nav_background {
    background-color: white;

    height : 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;

    color : white;


}

.container .header {
    width : 80%;
    height : 120px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container .header h1 a img{
    height : 75px;
    width : 75px;
}

.container .header h1 a{
    text-decoration: none;
}

.container .nav ul li {
    display : inline-block;
    margin:0 10px;
}

.container .nav ul li a {
    text-decoration: none;
    color : black;
}

.container .nav ul li a:hover{
    color: rgb(0, 79, 0);
}

body {
    height: 3000px;
}

section{
    height : 800px;
    background: url(https://www.starbucks.co.kr/common/img/main/fav_prod_bg_new.jpg) fixed;
}


.photo {
    position: absolute;
    top:100px;
    right: 200px;
}


.mainText{
    font-size: 6rem;
    width: 258px;
    font-family: sans-serif;
    color : rgb(0, 63, 0);
    position : absolute;
    top: 200px;
    left: 400px;
    animation : slide 1.5s ease-out;
}

@keyframes slide{
    from{
        left: -100px;
        opacity: 0;

    }
    to {
        left : 400px;
        opacity: 1;
    }
}

@keyframes disappear {
    from{
        left : 400px;
        opacity: 1;
    }
    to {
        left: -100px;
        opacity: 0;
    }
}









/* .container {
    width : 100%;
    height : 100vh;
    background : linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8))
}

.container .header{
    width : 80%;
    height : 80px;
    margin : 0 auto;
    display : flex;
    justify-content: space-between;
    align-items : center;
}

.container .header h1 a{
    text-decoration: none;
    color : white;
}

.container .header ul li {
    display : inline-block;
    margin: 0 10px;
}

.container .header ul li a {
    text-decoration: none;
    color : white;
}

.container .nav ul li a:hover {
    color : #1fdfdf;
}

.container .hero {
    position : absolute;
    left: 50%;
    top : 50%;
    transform : translate(-50%, -50%);
    color : white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container .hero h2{
    font-size : 60px;
    margin-bottom: 20px;
}

.container .hero p {
    font-size: 22px;;
}

.container .hero button{
    background-color: none;
    border : 2px solid darkseagreen;
    color : white;
    padding : 15px 20px;
    border-radius: 20px;
    margin-top: 30px;
    outline: none;
    cursor: pointer;
    transition: all .4s;
}

.container .hero button:hover{
    background-color: darkslategray;
} */
